/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_LogAudit]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_LogAudit]
    @programId INT,
    @userId    INT,
    @action    NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO audit_log (program_id, user_id, action)
    VALUES (@programId, @userId, @action);
END;
GO
GRANT EXECUTE ON [dbo].[usp_LogAudit] TO [ward_programs_role] AS [dbo]
GO
