/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  UserDefinedTableType [dbo].[AnnouncementList]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE TYPE [dbo].[AnnouncementList] AS TABLE(
	[sort_order] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[event_date] [date] NULL,
	[event_end_date] [date] NULL,
	[event_time] [nvarchar](8) NULL,
	[event_end_time] [nvarchar](8) NULL,
	[is_all_day] [bit] NOT NULL DEFAULT ((0)),
	[is_public] [bit] NOT NULL DEFAULT ((1)),
	[location] [nvarchar](2000) NULL
)
GO
GRANT EXECUTE ON TYPE::[dbo].[AnnouncementList] TO [ward_programs_role] AS [dbo]
GO
