/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateProgram]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_CreateProgram]
    -- Header fields
    @program_date             DATE,
    @status                   NVARCHAR(20),
    @program_name             NVARCHAR(200)  = NULL,
    @conducting               NVARCHAR(200)  = NULL,
    @presiding                NVARCHAR(200)  = NULL,
    @chorister                NVARCHAR(200)  = NULL,
    @accompanist              NVARCHAR(200)  = NULL,
    @cover_image_source       NVARCHAR(20)   = 'url',
    @cover_image_bleed        BIT            = 0,
    @cover_image_height_pct   INT            = 50,      -- ← REPLACED cover_image_height/position/fit
    
    @cover_print_preset         NVARCHAR(20)  = 'standard',
    @cover_print_body_size      DECIMAL(4,1)  = 9.0,
    @cover_print_heading_size   DECIMAL(4,1)  = 11.0,
    @meeting_print_preset       NVARCHAR(20)  = 'standard',
    @meeting_print_body_size    DECIMAL(4,1)  = 9.0,
    @meeting_print_heading_size DECIMAL(4,1)  = 11.0,
    @ann_print_preset           NVARCHAR(20)  = 'standard',
    @ann_print_body_size        DECIMAL(4,1)  = 9.0,
    @ann_print_heading_size     DECIMAL(4,1)  = 11.0,
    @leader_print_preset        NVARCHAR(20)  = 'standard',
    @leader_print_body_size     DECIMAL(4,1)  = 9.0,
    @leader_print_heading_size  DECIMAL(4,1)  = 11.0,

    @cover_quote              NVARCHAR(MAX)  = NULL,
    @cover_attribution        NVARCHAR(500)  = NULL,
    @leadership_public        BIT            = 1,
    @schedules_public         BIT            = 1,
    @use_default_leadership   BIT            = 1,
    @use_default_schedules    BIT            = 1,
    @created_by               INT,
    @published_at             DATETIME2      = NULL,
    @cover_image_id INT = NULL,
    -- Child row TVPs
    @coverBlocks    dbo.CoverBlockList      READONLY,
    @meetingItems   dbo.MeetingItemList     READONLY,
    @announcements  dbo.AnnouncementList    READONLY,
    @leadership     dbo.LeadershipEntryList READONLY,
    @schedules      dbo.ScheduleEntryList   READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @newId INT;

    BEGIN TRANSACTION;

    -- Insert header
    INSERT INTO programs (
        program_date, status, [program_name],
        conducting, presiding, chorister, accompanist,
         cover_image_source,
        cover_image_bleed, cover_image_height_pct,
        
        cover_print_preset,   cover_print_body_size,   cover_print_heading_size,
        meeting_print_preset, meeting_print_body_size, meeting_print_heading_size,
        ann_print_preset,     ann_print_body_size,     ann_print_heading_size,
        leader_print_preset,  leader_print_body_size,  leader_print_heading_size,

        cover_quote, cover_attribution,
        leadership_public, schedules_public,
        use_default_leadership, use_default_schedules,
        created_by, published_at, cover_image_id
    )
    VALUES (
        @program_date, @status, @program_name,
        @conducting, @presiding, @chorister, @accompanist,
         @cover_image_source,
        @cover_image_bleed, @cover_image_height_pct,

        @cover_print_preset,   @cover_print_body_size,   @cover_print_heading_size,
        @meeting_print_preset, @meeting_print_body_size, @meeting_print_heading_size,
        @ann_print_preset,     @ann_print_body_size,     @ann_print_heading_size,
        @leader_print_preset,  @leader_print_body_size,  @leader_print_heading_size,

        @cover_quote, @cover_attribution,
        @leadership_public, @schedules_public,
        @use_default_leadership, @use_default_schedules,
        @created_by, @published_at, @cover_image_id
    );

    SET @newId = SCOPE_IDENTITY();

    -- Cover blocks
    INSERT INTO program_cover_blocks
        (program_id, block_type, sort_order, welcome_text, custom_text, quote_text, attribution_text)
    SELECT @newId, block_type, sort_order, welcome_text, custom_text, quote_text, attribution_text
    FROM @coverBlocks;


    -- Meeting items
    INSERT INTO meeting_items
        (program_id, item_type, sort_order, hymn_number, hymn_title,
         person_name, topic, performers, piece,
         performed_by, witness1, witness2, custom_text)
    SELECT @newId, item_type, sort_order, hymn_number, hymn_title,
           person_name, topic, performers, piece,
           performed_by, witness1, witness2, custom_text
    FROM @meetingItems;

    -- Announcements
    INSERT INTO announcements
        (program_id, sort_order, title, description,
         event_date, event_time, is_public, event_end_date, event_end_time, is_all_day,[location] )
    SELECT @newId, sort_order, title, description,
           event_date, event_time, is_public, event_end_date, event_end_time, is_all_day,[location] 
    FROM @announcements;

    -- Leadership entries
    INSERT INTO leadership_entries
        (program_id, sort_order, role, name, phone)
    SELECT @newId, sort_order, role, name, phone
    FROM @leadership;

    -- Schedules
    INSERT INTO schedules
        (program_id, sort_order, organization, day, meeting_time, location)
    SELECT @newId, sort_order, organization, day, meeting_time, location
    FROM @schedules;

    COMMIT TRANSACTION;

    -- Return new id
    SELECT @newId AS id;
END;



GO
GRANT EXECUTE ON [dbo].[usp_CreateProgram] TO [ward_programs_role] AS [dbo]
GO
