/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveWardSettings]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Update usp_SaveWardSettings to accept new fields ────────────────────────
CREATE PROCEDURE [dbo].[usp_SaveWardSettings]
    @ward_name             NVARCHAR(100),
    @stake_name            NVARCHAR(100)   = NULL,
    @view_password_hash    NVARCHAR(255)   = NULL,
    @updated_by            INT,
    @announcement_emails   NVARCHAR(2000)  = NULL,
    @announcement_enabled  BIT             = 1,
    @ward_url              NVARCHAR(500)   = NULL,
    @contact_emails        NVARCHAR(2000)  = NULL,
    @qr_code_url           NVARCHAR(500)   = NULL,
    @qr_code_label         NVARCHAR(200)   = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM dbo.ward_settings)
        UPDATE dbo.ward_settings SET
            ward_name            = @ward_name,
            stake_name           = @stake_name,
            view_password_hash   = COALESCE(@view_password_hash, view_password_hash),
            announcement_emails  = @announcement_emails,
            announcement_enabled = @announcement_enabled,
            ward_url             = @ward_url,
            contact_emails       = @contact_emails,
            qr_code_url          = @qr_code_url,
            qr_code_label        = @qr_code_label,
            updated_at           = SYSUTCDATETIME(),
            updated_by           = @updated_by
    ELSE
        INSERT INTO dbo.ward_settings
            (ward_name, stake_name, view_password_hash,
             announcement_emails, announcement_enabled,
             ward_url, contact_emails,
             qr_code_url, qr_code_label,
             updated_at, updated_by)
        VALUES
            (@ward_name, @stake_name, @view_password_hash,
             @announcement_emails, @announcement_enabled,
             @ward_url, @contact_emails,
             @qr_code_url, @qr_code_label,
             SYSUTCDATETIME(), @updated_by);

    SELECT TOP 1
        ward_name, stake_name,
        CASE WHEN view_password_hash IS NOT NULL THEN 1 ELSE 0 END AS has_view_password,
        announcement_emails,
        announcement_enabled,
        contact_emails,
        qr_code_url,
        qr_code_label,
        ward_url,
        updated_at, updated_by
    FROM dbo.ward_settings;
END

go

GRANT EXECUTE ON [dbo].[usp_SaveWardSettings] TO [ward_programs_role] AS [dbo]
GO
