/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateLastLogin]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add this proc to your DB
CREATE PROCEDURE [dbo].[usp_UpdateLastLogin]
  @id INT
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE users
  SET last_login = sysutcdatetime()
  WHERE id = @id;
END;
GO
GRANT EXECUTE ON [dbo].[usp_UpdateLastLogin] TO [ward_programs_role] AS [dbo]
GO
