/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByEmail]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ============================================================
-- usp_GetUserByEmail  (used by login)
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_GetUserByEmail]
    @email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id, name, email, password_hash, role, calling, status,last_login
    FROM users
    WHERE email = @email;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetUserByEmail] TO [ward_programs_role] AS [dbo]
GO
