USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAnnouncementRequests]    Script Date: 4/5/2026 10:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 3. usp_GetAnnouncementRequests ───────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_GetAnnouncementRequests]
    @status nvarchar(20) = NULL   -- NULL = all
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        id, submitter_name, title, description,
        is_all_day, event_date, event_end_date,
        event_time, event_end_time, location,
        status, submitted_at, added_to_program
    FROM dbo.announcement_requests
    WHERE @status IS NULL OR status = @status
    ORDER BY submitted_at DESC;
END;

GO
GRANT EXECUTE ON [dbo].[usp_GetAnnouncementRequests] TO [ward_programs_role] AS [dbo]
GO
