/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetWardImages]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── 3. Stored procs ───────────────────────────────────────────────────────────

-- Get all library images (for the picker UI)
CREATE   PROCEDURE [dbo].[usp_GetWardImages]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT id, blob_name, file_name, mime_type, file_size_kb, uploaded_by, uploaded_at
  FROM   dbo.WardImages
  ORDER  BY uploaded_at DESC;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetWardImages] TO [ward_programs_role] AS [dbo]
GO
