/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateUser]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- usp_CreateUser  (used by POST /users)
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_CreateUser]
    @name          NVARCHAR(200),
    @email         NVARCHAR(200),
    @password_hash NVARCHAR(MAX),
    @phone         NVARCHAR(20)   = NULL,
    @calling       NVARCHAR(200)  = NULL,
    @role          NVARCHAR(50),
    @status        NVARCHAR(20)   = 'active'
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO users (name, email, password_hash, phone, calling, role, status)
    OUTPUT INSERTED.id, INSERTED.name, INSERTED.email,
           INSERTED.phone, INSERTED.calling, INSERTED.role,
           INSERTED.status, INSERTED.created_at
    VALUES (@name, @email, @password_hash, @phone, @calling, @role, @status);
END;
GO
GRANT EXECUTE ON [dbo].[usp_CreateUser] TO [ward_programs_role] AS [dbo]
GO
