/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetWardSettings]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Update usp_GetWardSettings to return new fields ─────────────────────────
CREATE PROCEDURE [dbo].[usp_GetWardSettings]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1
        ward_name,
        stake_name,
        CASE WHEN view_password_hash IS NOT NULL THEN 1 ELSE 0 END AS has_view_password,
        announcement_emails,
        announcement_enabled,
        contact_emails,
        ward_url,
        qr_code_url,
        qr_code_label,
        updated_at,
        updated_by
    FROM dbo.ward_settings;
END
go
GRANT EXECUTE ON [dbo].[usp_GetWardSettings] TO [ward_programs_role] AS [dbo]
GO
