/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[meeting_items]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meeting_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[program_id] [int] NOT NULL,
	[item_type] [nvarchar](50) NOT NULL,
	[sort_order] [int] NOT NULL,
	[hymn_number] [nvarchar](10) NULL,
	[hymn_title] [nvarchar](400) NULL,
	[person_name] [nvarchar](200) NULL,
	[topic] [nvarchar](1000) NULL,
	[performers] [nvarchar](400) NULL,
	[piece] [nvarchar](400) NULL,
	[performed_by] [nvarchar](200) NULL,
	[witness1] [nvarchar](200) NULL,
	[witness2] [nvarchar](200) NULL,
	[custom_text] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[meeting_items] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[meeting_items] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[meeting_items] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[meeting_items] TO [ward_programs_role] AS [dbo]
GO
/****** Object:  Index [idx_meeting_items_program]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_meeting_items_program] ON [dbo].[meeting_items]
(
	[program_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[meeting_items] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[meeting_items]  WITH CHECK ADD FOREIGN KEY([program_id])
REFERENCES [dbo].[programs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[meeting_items]  WITH CHECK ADD  CONSTRAINT [chk_meeting_item_type] CHECK  (([item_type]='customText' OR [item_type]='confirmation' OR [item_type]='baptism' OR [item_type]='announce' OR [item_type]='musical' OR [item_type]='speaker' OR [item_type]='sacramentAdmin' OR [item_type]='closingPrayer' OR [item_type]='openingPrayer' OR [item_type]='hymn' OR [item_type]='closingHymn' OR [item_type]='sacramentHymn' OR [item_type]='childrensHymn' OR [item_type]='openingHymn'))
GO
ALTER TABLE [dbo].[meeting_items] CHECK CONSTRAINT [chk_meeting_item_type]
GO
