/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFullProgram]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetFullProgram]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        id, program_date, status, [program_name],
        conducting, presiding, chorister, accompanist,
        cover_image_source,
        cover_image_bleed, cover_image_height_pct,
        cover_print_preset, cover_print_body_size, cover_print_heading_size,
        meeting_print_preset, meeting_print_body_size, meeting_print_heading_size,
        ann_print_preset, ann_print_body_size, ann_print_heading_size,
        leader_print_preset, leader_print_body_size, leader_print_heading_size,
        cover_quote, cover_attribution,
        leadership_public, schedules_public,
        use_default_leadership, use_default_schedules,
        created_by, last_modified, published_at, archived_at, created_at, cover_image_id
    FROM programs WHERE id = @id;

    SELECT id, block_type, sort_order, welcome_text, custom_text, quote_text, attribution_text
    FROM program_cover_blocks WHERE program_id = @id ORDER BY sort_order;

    SELECT id, item_type, sort_order, hymn_number, hymn_title,
           person_name, topic, performers, piece,
           performed_by, witness1, witness2, custom_text
    FROM meeting_items WHERE program_id = @id ORDER BY sort_order;

    SELECT id, sort_order, title, description, event_date, event_time, is_public, event_end_date, event_end_time, is_all_day,[location]
    FROM announcements WHERE program_id = @id ORDER BY sort_order;

    -- email column removed
    SELECT id, sort_order, role, name, phone
    FROM leadership_entries WHERE program_id = @id ORDER BY sort_order;

    SELECT id, sort_order, organization, day, meeting_time, location
    FROM schedules WHERE program_id = @id ORDER BY sort_order;
END;

GO
GRANT EXECUTE ON [dbo].[usp_GetFullProgram] TO [ward_programs_role] AS [dbo]
GO
