/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_DuplicateProgram]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Step 8: Recreate usp_CreateProgram and usp_SaveProgram ───────────────────
-- (leadership INSERT no longer includes email column)
-- These are large procs — the only change is removing ", email" from the
-- leadership_entries INSERT...SELECT lines. Paste your existing proc bodies
-- and remove those two references. The TVP change (Step 3) handles the rest.



-- ============================================================
-- usp_DuplicateProgram
-- Deep copy — reads original, writes new draft, all in one proc
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_DuplicateProgram]
    @sourceId  INT,
    @createdBy INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @newId INT;

    BEGIN TRANSACTION;

        -- Insert new header copied from source, today's date, always draft
        INSERT INTO programs (
            program_date, status, [program_name],
            conducting, presiding, chorister, accompanist,
             cover_image_source,
            cover_image_bleed, cover_image_height_pct,          -- ✅ new column
            cover_print_preset, cover_print_body_size, cover_print_heading_size,
            meeting_print_preset, meeting_print_body_size, meeting_print_heading_size,
            ann_print_preset, ann_print_body_size, ann_print_heading_size,
            leader_print_preset, leader_print_body_size, leader_print_heading_size,
            cover_quote, cover_attribution,
            leadership_public, schedules_public,
            use_default_leadership, use_default_schedules,
            created_by, cover_image_id
        )
        SELECT
            CAST(GETUTCDATE() AS DATE), 'draft', [program_name],
            conducting, presiding, chorister, accompanist,
             cover_image_source,
            cover_image_bleed, cover_image_height_pct,          -- ✅ new column
            cover_print_preset, cover_print_body_size, cover_print_heading_size,
            meeting_print_preset, meeting_print_body_size, meeting_print_heading_size,
            ann_print_preset, ann_print_body_size, ann_print_heading_size,
            leader_print_preset, leader_print_body_size, leader_print_heading_size,
            cover_quote, cover_attribution,
            leadership_public, schedules_public,
            use_default_leadership, use_default_schedules,
            @createdBy, cover_image_id
        FROM programs WHERE id = @sourceId;

        SET @newId = SCOPE_IDENTITY();

        -- Copy cover blocks
        
        INSERT INTO program_cover_blocks
            (program_id, block_type, sort_order, welcome_text, custom_text, quote_text, attribution_text)
        SELECT @newId, block_type, sort_order, welcome_text, custom_text, quote_text, attribution_text
        FROM program_cover_blocks WHERE program_id = @sourceId;


        -- Copy meeting items
        INSERT INTO meeting_items
            (program_id, item_type, sort_order, hymn_number, hymn_title,
             person_name, topic, performers, piece,
             performed_by, witness1, witness2, custom_text)
        SELECT @newId, item_type, sort_order, hymn_number, hymn_title,
               person_name, topic, performers, piece,
               performed_by, witness1, witness2, custom_text
        FROM meeting_items WHERE program_id = @sourceId;

        -- Copy announcements
        INSERT INTO announcements
            (program_id, sort_order, title, description,
             event_date, event_time, is_public, event_end_date, event_end_time, is_all_day,[location] )
        SELECT @newId, sort_order, title, description,
               event_date, event_time, is_public, event_end_date, event_end_time, is_all_day,[location] 
        FROM announcements WHERE program_id = @sourceId;

        -- Copy leadership entries
        INSERT INTO leadership_entries
            (program_id, sort_order, role, name, phone)
        SELECT @newId, sort_order, role, name, phone
        FROM leadership_entries WHERE program_id = @sourceId;

        -- Copy schedules
        INSERT INTO schedules
            (program_id, sort_order, organization, day, meeting_time, location)
        SELECT @newId, sort_order, organization, day, meeting_time, location
        FROM schedules WHERE program_id = @sourceId;

    COMMIT TRANSACTION;

    -- Return new id for fetchFullProgram call
    SELECT @newId AS id;
END;

GO
GRANT EXECUTE ON [dbo].[usp_DuplicateProgram] TO [ward_programs_role] AS [dbo]
GO
