/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[WardImages]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WardImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blob_name] [nvarchar](500) NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[mime_type] [nvarchar](50) NOT NULL,
	[file_size_kb] [int] NOT NULL,
	[uploaded_by] [int] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[WardImages] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[WardImages] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[WardImages] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[WardImages] TO [ward_programs_role] AS [dbo]
GO
ALTER TABLE [dbo].[WardImages] ADD  DEFAULT (sysutcdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[WardImages]  WITH CHECK ADD FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
