/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveWardLeadership]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Step 5: Recreate usp_SaveWardLeadership (no email) ───────────────────────
CREATE PROCEDURE [dbo].[usp_SaveWardLeadership]
    @rows dbo.WardLeadershipList READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRANSACTION;
    UPDATE ward_leadership SET active = 0;
    MERGE ward_leadership AS target
    USING (SELECT id, sort_order, role, name, phone FROM @rows) AS source
    ON target.id = source.id AND source.id IS NOT NULL
    WHEN MATCHED THEN
        UPDATE SET
            role          = source.role,
            name          = source.name,
            phone         = source.phone,
            active        = 1,
            sort_order    = source.sort_order,
            last_modified = SYSUTCDATETIME()
    WHEN NOT MATCHED THEN
        INSERT (role, name, phone, active, sort_order)
        VALUES (source.role, source.name, source.phone, 1, source.sort_order);
    COMMIT TRANSACTION;
END;
GO
GRANT EXECUTE ON [dbo].[usp_SaveWardLeadership] TO [ward_programs_role] AS [dbo]
GO
