USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAnnouncementRequest]    Script Date: 4/7/2026 3:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_GetAnnouncementRequest]
    @id int
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        id, submitter_name, title, description,
        is_all_day, event_date, event_end_date,
        event_time, event_end_time, location,
        status, submitted_at, added_to_program
    FROM dbo.announcement_requests
    WHERE id = @id;
END;
GO
