USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateAnnouncementRequest]    Script Date: 4/5/2026 10:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 2. usp_CreateAnnouncementRequest ─────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_CreateAnnouncementRequest]
    @submitter_name  nvarchar(100),
    @title           nvarchar(200),
    @description     nvarchar(2000) = NULL,
    @is_all_day      bit            = 0,
    @event_date      date           = NULL,
    @event_end_date  date           = NULL,
    @event_time      nvarchar(8)    = NULL,
    @event_end_time  nvarchar(8)    = NULL,
    @location        nvarchar(2000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.announcement_requests
        (submitter_name, title, description, is_all_day,
         event_date, event_end_date, event_time, event_end_time, location)
    VALUES
        (@submitter_name, @title, @description, @is_all_day,
         @event_date, @event_end_date, @event_time, @event_end_time, @location);

    SELECT SCOPE_IDENTITY() AS id;
END;

GO
GRANT EXECUTE ON [dbo].[usp_CreateAnnouncementRequest] TO [ward_programs_role] AS [dbo]
GO
