USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteAnnouncementRequest]    Script Date: 4/5/2026 10:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 6. usp_DeleteAnnouncementRequest ─────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_DeleteAnnouncementRequest]
    @id int
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.announcement_requests WHERE id = @id;
    IF @@ROWCOUNT = 0
        THROW 50404, 'Announcement request not found.', 1;
END;

GO
GRANT EXECUTE ON [dbo].[usp_DeleteAnnouncementRequest] TO [ward_programs_role] AS [dbo]
GO
