/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetWardDefaults]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWardDefaults]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id, role, name, phone, sort_order
    FROM ward_leadership
    WHERE active = 1
    ORDER BY sort_order;

    SELECT id, organization, day, meeting_time, location, sort_order
    FROM ward_schedules
    WHERE active = 1
    ORDER BY sort_order;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetWardDefaults] TO [ward_programs_role] AS [dbo]
GO
