USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_MarkAnnouncementRequestsAdded]    Script Date: 4/5/2026 10:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 5. usp_MarkAnnouncementRequestsAdded ────────────────────────────────────
-- Bulk mark multiple request IDs as added after a successful program save
CREATE PROCEDURE [dbo].[usp_MarkAnnouncementRequestsAdded]
    @ids             nvarchar(max),   -- comma-separated list of IDs
    @program_id      int
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.announcement_requests
    SET status           = 'added',
        added_to_program = @program_id
    WHERE id IN (
        SELECT CAST(value AS int)
        FROM STRING_SPLIT(@ids, ',')
        WHERE TRIM(value) != ''
    );
END;

GO
GRANT EXECUTE ON [dbo].[usp_MarkAnnouncementRequestsAdded] TO [ward_programs_role] AS [dbo]
GO
