/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[program_cover_blocks]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[program_cover_blocks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[program_id] [int] NOT NULL,
	[block_type] [nvarchar](20) NOT NULL,
	[sort_order] [int] NOT NULL,
	[welcome_text] [nvarchar](500) NULL,
	[custom_text] [nvarchar](2000) NULL,
	[quote_text] [nvarchar](1000) NULL,
	[attribution_text] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[program_cover_blocks] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[program_cover_blocks] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[program_cover_blocks] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[program_cover_blocks] TO [ward_programs_role] AS [dbo]
GO
/****** Object:  Index [idx_cover_blocks_program]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_cover_blocks_program] ON [dbo].[program_cover_blocks]
(
	[program_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[program_cover_blocks] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[program_cover_blocks]  WITH CHECK ADD FOREIGN KEY([program_id])
REFERENCES [dbo].[programs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[program_cover_blocks]  WITH CHECK ADD  CONSTRAINT [chk_cover_block_type] CHECK  (([block_type]='custom' OR [block_type]='welcome' OR [block_type]='quote' OR [block_type]='image' OR [block_type]='date'))
GO
ALTER TABLE [dbo].[program_cover_blocks] CHECK CONSTRAINT [chk_cover_block_type]
GO
