/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  UserDefinedTableType [dbo].[CoverBlockList]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE TYPE [dbo].[CoverBlockList] AS TABLE(
	[sort_order] [int] NOT NULL,
	[block_type] [nvarchar](50) NOT NULL,
	[welcome_text] [nvarchar](max) NULL,
	[custom_text] [nvarchar](max) NULL,
	[quote_text] [nvarchar](1000) NULL,
	[attribution_text] [nvarchar](255) NULL
)
GO
GRANT EXECUTE ON TYPE::[dbo].[CoverBlockList] TO [ward_programs_role] AS [dbo]
GO
