USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateAnnouncementRequest]    Script Date: 4/7/2026 3:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── usp_UpdateAnnouncementRequest ────────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_UpdateAnnouncementRequest]
    @id              int,
    @submitter_name  nvarchar(100),
    @title           nvarchar(200),
    @description     nvarchar(2000) = NULL,
    @is_all_day      bit            = 0,
    @event_date      date           = NULL,
    @event_end_date  date           = NULL,
    @event_time      nvarchar(8)    = NULL,
    @event_end_time  nvarchar(8)    = NULL,
    @location        nvarchar(2000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.announcement_requests
    SET submitter_name  = @submitter_name,
        title           = @title,
        description     = @description,
        is_all_day      = @is_all_day,
        event_date      = @event_date,
        event_end_date  = @event_end_date,
        event_time      = @event_time,
        event_end_time  = @event_end_time,
        location        = @location
    WHERE id = @id;

    IF @@ROWCOUNT = 0
        THROW 50404, 'Announcement request not found.', 1;
END;
GO
