/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProgramSummary]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- usp_GetProgramSummary
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_GetProgramSummary]
    @status   NVARCHAR(20) = NULL,
    @page     INT          = 1,
    @pageSize INT          = 25
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @offset INT = (@page - 1) * @pageSize;

    SELECT
        p.id,
        CONVERT(VARCHAR(10), p.program_date, 23) AS date,
        p.status,
        p.[program_name],
        p.last_modified                           AS lastModified,
        p.cover_quote                             AS quote,
        (SELECT COUNT(*) FROM announcements  a  WHERE a.program_id  = p.id) AS announcementCount,
        (SELECT COUNT(*) FROM meeting_items  mi WHERE mi.program_id = p.id) AS meetingItemCount,
        (SELECT COUNT(*) FROM meeting_items  mi WHERE mi.program_id = p.id
                                                  AND mi.item_type  = 'speaker') AS speakerCount
    FROM programs p
    WHERE (@status IS NULL OR p.status = @status)
    ORDER BY p.program_date DESC
    OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetProgramSummary] TO [ward_programs_role] AS [dbo]
GO
