/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  UserDefinedTableType [dbo].[MeetingItemList]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE TYPE [dbo].[MeetingItemList] AS TABLE(
	[sort_order] [int] NOT NULL,
	[item_type] [nvarchar](50) NOT NULL,
	[hymn_number] [nvarchar](10) NULL,
	[hymn_title] [nvarchar](400) NULL,
	[person_name] [nvarchar](200) NULL,
	[topic] [nvarchar](1000) NULL,
	[performers] [nvarchar](400) NULL,
	[piece] [nvarchar](400) NULL,
	[performed_by] [nvarchar](200) NULL,
	[witness1] [nvarchar](200) NULL,
	[witness2] [nvarchar](200) NULL,
	[custom_text] [nvarchar](500) NULL
)
GO
GRANT EXECUTE ON TYPE::[dbo].[MeetingItemList] TO [ward_programs_role] AS [dbo]
GO
