USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProgramTemplate]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── usp_GetProgramTemplate ───────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_GetProgramTemplate]
    @id int
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        t.id,
        t.name,
        t.template_json,
        t.created_at,
        t.last_modified,
        u.name AS created_by_name
    FROM dbo.program_templates t
    LEFT JOIN dbo.users u ON u.id = t.created_by
    WHERE t.id = @id;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetProgramTemplate] TO [ward_programs_role] AS [dbo]
GO
