/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[ward_schedules]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ward_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[organization] [nvarchar](200) NULL,
	[day] [nvarchar](50) NULL,
	[meeting_time] [nvarchar](50) NULL,
	[location] [nvarchar](500) NULL,
	[active] [bit] NULL,
	[sort_order] [int] NULL,
	[last_modified] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[ward_schedules] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[ward_schedules] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[ward_schedules] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[ward_schedules] TO [ward_programs_role] AS [dbo]
GO
ALTER TABLE [dbo].[ward_schedules] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ward_schedules] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[ward_schedules] ADD  DEFAULT (sysutcdatetime()) FOR [last_modified]
GO
