/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_ArchiveProgram]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- usp_ArchiveProgram
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_ArchiveProgram]
    @id     INT,
    @userId INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    UPDATE programs SET
        status        = 'archived',
        archived_at   = SYSUTCDATETIME(),
        last_modified = SYSUTCDATETIME()
    WHERE id = @id;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Program not found.', 16, 1);
        RETURN;
    END;

    INSERT INTO audit_log (program_id, user_id, action)
    VALUES (@id, @userId, 'archive');
END;
GO
GRANT EXECUTE ON [dbo].[usp_ArchiveProgram] TO [ward_programs_role] AS [dbo]
GO
