/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_SetProgramCoverImage]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_SetProgramCoverImage]
  @program_id   INT,
  @image_id     INT,
  @image_source NVARCHAR(20)
AS
BEGIN
  SET NOCOUNT ON;

  -- Check program exists first — separate from the UPDATE
  IF NOT EXISTS (SELECT 1 FROM dbo.Programs WHERE id = @program_id)
    THROW 50404, 'Program not found.', 1;

  UPDATE dbo.Programs
  SET    cover_image_id     = @image_id,
         cover_image_source = @image_source,
         last_modified      = sysutcdatetime()
  WHERE  id = @program_id;
END;


GO
GRANT EXECUTE ON [dbo].[usp_SetProgramCoverImage] TO [ward_programs_role] AS [dbo]
GO
