/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- usp_GetAllUsers (used by GET /users)
-- Fix 24: Added last_login to SELECT — was missing, causing
--         lastLogin to always be null in the user list view
-- ============================================================
CREATE PROCEDURE [dbo].[usp_GetAllUsers]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT
    id, name, email, phone, calling,
    role, status, created_at, updated_at,
    last_login          -- ← Fix 24: added
  FROM users
  ORDER BY name;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetAllUsers] TO [ward_programs_role] AS [dbo]
GO
