/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[announcements]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[program_id] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[event_date] [date] NULL,
	[event_time] [nvarchar](8) NULL,
	[is_public] [bit] NOT NULL,
	[event_end_date] [date] NULL,
	[event_end_time] [nvarchar](8) NULL,
	[is_all_day] [bit] NOT NULL,
	[location] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[announcements] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[announcements] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[announcements] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[announcements] TO [ward_programs_role] AS [dbo]
GO
/****** Object:  Index [idx_announcements_program]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_announcements_program] ON [dbo].[announcements]
(
	[program_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((1)) FOR [is_public]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((0)) FOR [is_all_day]
GO
ALTER TABLE [dbo].[announcements]  WITH CHECK ADD FOREIGN KEY([program_id])
REFERENCES [dbo].[programs] ([id])
ON DELETE CASCADE
GO
