USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProgramTemplates]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── usp_GetProgramTemplates ──────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_GetProgramTemplates]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        t.id,
        t.name,
        t.created_at,
        t.last_modified,
        u.name AS created_by_name
    FROM dbo.program_templates t
    LEFT JOIN dbo.users u ON u.id = t.created_by
    ORDER BY t.name ASC;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetProgramTemplates] TO [ward_programs_role] AS [dbo]
GO
