/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUserPassword]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateUserPassword]
  @id            INT,
  @password_hash NVARCHAR(MAX)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Users
  SET    password_hash = @password_hash
  WHERE  id = @id;

  IF @@ROWCOUNT = 0
    THROW 50001, 'User not found.', 1;
END
GO
GRANT EXECUTE ON [dbo].[usp_UpdateUserPassword] TO [ward_programs_role] AS [dbo]
GO
