/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveWardSchedules]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Step 3: Recreate the proc (unchanged logic) ───────────────────────────────
CREATE PROCEDURE [dbo].[usp_SaveWardSchedules]
    @rows dbo.WardScheduleList READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRANSACTION;
    UPDATE ward_schedules SET active = 0;
    MERGE ward_schedules AS target
    USING (SELECT id, sort_order, organization, day, meeting_time, location FROM @rows) AS source
    ON target.id = source.id AND source.id IS NOT NULL
    WHEN MATCHED THEN
        UPDATE SET
            organization   = source.organization,
            day            = source.day,
            meeting_time   = source.meeting_time,
            location       = source.location,
            active         = 1,
            sort_order     = source.sort_order,
            last_modified  = SYSUTCDATETIME()
    WHEN NOT MATCHED THEN
        INSERT (organization, day, meeting_time, location, active, sort_order)
        VALUES (source.organization, source.day, source.meeting_time,
                source.location, 1, source.sort_order);
    COMMIT TRANSACTION;
END;
GO
GRANT EXECUTE ON [dbo].[usp_SaveWardSchedules] TO [ward_programs_role] AS [dbo]
GO
