/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_ValidateViewPassword]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- usp_ValidateViewPassword
-- Returns the hashed password for bcrypt comparison in Node.js
-- We return the hash — never validate in SQL
-- ============================================================
CREATE PROCEDURE [dbo].[usp_ValidateViewPassword]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT view_password_hash
  FROM ward_settings
  WHERE id = 1;
END;
GO
GRANT EXECUTE ON [dbo].[usp_ValidateViewPassword] TO [ward_programs_role] AS [dbo]
GO
