USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteProgramTemplate]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── usp_DeleteProgramTemplate ────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_DeleteProgramTemplate]
    @id int
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.program_templates WHERE id = @id;
    IF @@ROWCOUNT = 0
        THROW 50404, 'Template not found.', 1;
END;
GO
GRANT EXECUTE ON [dbo].[usp_DeleteProgramTemplate] TO [ward_programs_role] AS [dbo]
GO
