/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProgramCoverImage]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get a program's current cover image (for SAS generation)
CREATE   PROCEDURE [dbo].[usp_GetProgramCoverImage]
  @program_id INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT wi.id, wi.blob_name, wi.mime_type
  FROM   dbo.Programs p
  JOIN   dbo.WardImages wi ON wi.id = p.cover_image_id
  WHERE  p.id = @program_id;
END;

GO
GRANT EXECUTE ON [dbo].[usp_GetProgramCoverImage] TO [ward_programs_role] AS [dbo]
GO
