/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  UserDefinedTableType [dbo].[ScheduleEntryList]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE TYPE [dbo].[ScheduleEntryList] AS TABLE(
	[sort_order] [int] NOT NULL,
	[organization] [nvarchar](200) NULL,
	[day] [nvarchar](50) NULL,
	[meeting_time] [nvarchar](50) NULL,
	[location] [nvarchar](500) NULL
)
GO
GRANT EXECUTE ON TYPE::[dbo].[ScheduleEntryList] TO [ward_programs_role] AS [dbo]
GO
