USE [ward_programs]
GO
/****** Object:  Table [dbo].[program_templates]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[program_templates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[template_json] [nvarchar](max) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_modified] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[program_templates] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[program_templates] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[program_templates] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[program_templates] TO [ward_programs_role] AS [dbo]
GO
ALTER TABLE [dbo].[program_templates] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[program_templates] ADD  DEFAULT (getutcdate()) FOR [last_modified]
GO
ALTER TABLE [dbo].[program_templates]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
