/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteWardImage]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Delete a library image — only if no programs are using it
CREATE   PROCEDURE [dbo].[usp_DeleteWardImage]
  @id INT
AS
BEGIN
  SET NOCOUNT ON;

  -- Check for active usage
  IF EXISTS (
    SELECT 1 FROM dbo.Programs
    WHERE  cover_image_id = @id
    AND    status != 'archived'
  )
    THROW 50409, 'Image is in use by one or more active programs.', 1;

  SELECT blob_name FROM dbo.WardImages WHERE id = @id;  -- return blob_name for deletion
  DELETE FROM dbo.WardImages WHERE id = @id;
END;
GO
GRANT EXECUTE ON [dbo].[usp_DeleteWardImage] TO [ward_programs_role] AS [dbo]
GO
