USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateProgramTemplate]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── usp_CreateProgramTemplate ────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_CreateProgramTemplate]
    @name          nvarchar(200),
    @template_json nvarchar(MAX),
    @created_by    int
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.program_templates (name, template_json, created_by)
    VALUES (@name, @template_json, @created_by);
    SELECT SCOPE_IDENTITY() AS id;
END;
GO
GRANT EXECUTE ON [dbo].[usp_CreateProgramTemplate] TO [ward_programs_role] AS [dbo]
GO
