USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateAnnouncementRequestStatus]    Script Date: 4/5/2026 10:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 4. usp_UpdateAnnouncementRequestStatus ───────────────────────────────────
CREATE PROCEDURE [dbo].[usp_UpdateAnnouncementRequestStatus]
    @id              int,
    @status          nvarchar(20),
    @added_to_program int = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.announcement_requests
    SET status           = @status,
        added_to_program = COALESCE(@added_to_program, added_to_program)
    WHERE id = @id;

    IF @@ROWCOUNT = 0
        THROW 50404, 'Announcement request not found.', 1;
END;

GO
GRANT EXECUTE ON [dbo].[usp_UpdateAnnouncementRequestStatus] TO [ward_programs_role] AS [dbo]
GO
