/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[program_id] [int] NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[details] [nvarchar](1000) NULL,
	[performed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[audit_log] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[audit_log] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[audit_log] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[audit_log] TO [ward_programs_role] AS [dbo]
GO
/****** Object:  Index [IX_audit_log_performed_at]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_audit_log_performed_at] ON [dbo].[audit_log]
(
	[performed_at] DESC
)
INCLUDE([program_id],[user_id],[action]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_log_program_id]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_audit_log_program_id] ON [dbo].[audit_log]
(
	[program_id] ASC
)
INCLUDE([user_id],[action],[performed_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_log_user_id]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_audit_log_user_id] ON [dbo].[audit_log]
(
	[user_id] ASC
)
INCLUDE([program_id],[action],[performed_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (sysutcdatetime()) FOR [performed_at]
GO
