/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUser]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- usp_UpdateUser  (used by PUT /users/:id)
-- Pass NULL for @password_hash to skip password update
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_UpdateUser]
    @id            INT,
    @name          NVARCHAR(200),
    @email         NVARCHAR(200),
    @password_hash NVARCHAR(MAX)  = NULL,
    @phone         NVARCHAR(20)   = NULL,
    @calling       NVARCHAR(200)  = NULL,
    @role          NVARCHAR(50),
    @status        NVARCHAR(20)   = 'active'
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE users SET
        name          = @name,
        email         = @email,
        phone         = @phone,
        calling       = @calling,
        role          = @role,
        status        = @status,
        -- Only update password_hash if a new one was provided
        password_hash = CASE WHEN @password_hash IS NOT NULL
                             THEN @password_hash
                             ELSE password_hash END,
        updated_at    = SYSUTCDATETIME()
    WHERE id = @id;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('User not found.', 16, 1);
        RETURN;
    END;
END;
GO
GRANT EXECUTE ON [dbo].[usp_UpdateUser] TO [ward_programs_role] AS [dbo]
GO
