USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProgramTemplateByName]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── usp_GetProgramTemplateByName ─────────────────────────────────────────────
-- Used to check if a template with a given name already exists
CREATE PROCEDURE [dbo].[usp_GetProgramTemplateByName]
    @name nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id, name, created_at, last_modified
    FROM dbo.program_templates
    WHERE name = @name;
END;
GO
GRANT EXECUTE ON [dbo].[usp_GetProgramTemplateByName] TO [ward_programs_role] AS [dbo]
GO
