USE [ward_programs]
GO
/****** Object:  Table [dbo].[announcement_requests]    Script Date: 4/5/2026 10:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcement_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submitter_name] [nvarchar](100) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[is_all_day] [bit] NOT NULL,
	[event_date] [date] NULL,
	[event_end_date] [date] NULL,
	[event_time] [nvarchar](8) NULL,
	[event_end_time] [nvarchar](8) NULL,
	[location] [nvarchar](2000) NULL,
	[status] [nvarchar](20) NOT NULL,
	[submitted_at] [datetime2](7) NOT NULL,
	[added_to_program] [int] NULL,
 CONSTRAINT [PK_announcement_requests] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[announcement_requests] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[announcement_requests] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[announcement_requests] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[announcement_requests] TO [ward_programs_role] AS [dbo]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ann_requests_status]    Script Date: 4/5/2026 10:27:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_ann_requests_status] ON [dbo].[announcement_requests]
(
	[status] ASC,
	[submitted_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[announcement_requests] ADD  DEFAULT ((0)) FOR [is_all_day]
GO
ALTER TABLE [dbo].[announcement_requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[announcement_requests] ADD  DEFAULT (sysutcdatetime()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[announcement_requests]  WITH CHECK ADD  CONSTRAINT [FK_ann_req_program] FOREIGN KEY([added_to_program])
REFERENCES [dbo].[programs] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[announcement_requests] CHECK CONSTRAINT [FK_ann_req_program]
GO
ALTER TABLE [dbo].[announcement_requests]  WITH CHECK ADD  CONSTRAINT [CHK_ann_req_status] CHECK  (([status]='dismissed' OR [status]='added' OR [status]='pending'))
GO
ALTER TABLE [dbo].[announcement_requests] CHECK CONSTRAINT [CHK_ann_req_status]
GO
