/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[ward_settings]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ward_settings](
	[id] [int] NOT NULL,
	[ward_name] [nvarchar](100) NOT NULL,
	[stake_name] [nvarchar](100) NULL,
	[view_password_hash] [nvarchar](255) NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[announcement_emails] [nvarchar](2000) NULL,
	[announcement_enabled] [bit] NOT NULL,
	[ward_url] [nvarchar](500) NULL,
	[contact_emails] [nvarchar](2000) NULL,
        [qr_code_url]    [nvarchar](500)  NULL,
        [qr_code_label]  [nvarchar](200)  NULL,
 CONSTRAINT [PK_ward_settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[ward_settings] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[ward_settings] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[ward_settings] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[ward_settings] TO [ward_programs_role] AS [dbo]
GO
ALTER TABLE [dbo].[ward_settings] ADD  DEFAULT ((1)) FOR [id]
GO
ALTER TABLE [dbo].[ward_settings] ADD  DEFAULT ('') FOR [ward_name]
GO
ALTER TABLE [dbo].[ward_settings] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ward_settings] ADD  DEFAULT ((1)) FOR [announcement_enabled]
GO
ALTER TABLE [dbo].[ward_settings] ADD  DEFAULT ('') FOR [contact_emails]
GO
ALTER TABLE [dbo].[ward_settings]  WITH CHECK ADD  CONSTRAINT [CK_ward_settings_id] CHECK  (([id]=(1)))
GO
ALTER TABLE [dbo].[ward_settings] CHECK CONSTRAINT [CK_ward_settings_id]
GO
