/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  Table [dbo].[programs]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[program_date] [date] NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[conducting] [nvarchar](150) NULL,
	[presiding] [nvarchar](150) NULL,
	[chorister] [nvarchar](150) NULL,
	[accompanist] [nvarchar](150) NULL,
	[cover_image_source] [nvarchar](10) NULL,
	[cover_image_bleed] [bit] NOT NULL,
	[cover_quote] [nvarchar](1000) NULL,
	[cover_attribution] [nvarchar](255) NULL,
	[leadership_public] [bit] NOT NULL,
	[schedules_public] [bit] NOT NULL,
	[created_by] [int] NULL,
	[last_modified] [datetime2](7) NOT NULL,
	[published_at] [datetime2](7) NULL,
	[archived_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[use_default_leadership] [bit] NULL,
	[use_default_schedules] [bit] NULL,
	[program_name] [nvarchar](200) NULL,
	[cover_image_height_pct] [int] NOT NULL,
	[cover_print_preset] [nvarchar](20) NOT NULL,
	[cover_print_body_size] [decimal](4, 1) NOT NULL,
	[cover_print_heading_size] [decimal](4, 1) NOT NULL,
	[meeting_print_preset] [nvarchar](20) NOT NULL,
	[meeting_print_body_size] [decimal](4, 1) NOT NULL,
	[meeting_print_heading_size] [decimal](4, 1) NOT NULL,
	[ann_print_preset] [nvarchar](20) NOT NULL,
	[ann_print_body_size] [decimal](4, 1) NOT NULL,
	[ann_print_heading_size] [decimal](4, 1) NOT NULL,
	[leader_print_preset] [nvarchar](20) NOT NULL,
	[leader_print_body_size] [decimal](4, 1) NOT NULL,
	[leader_print_heading_size] [decimal](4, 1) NOT NULL,
	[cover_image_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT DELETE ON [dbo].[programs] TO [ward_programs_role] AS [dbo]
GO
GRANT INSERT ON [dbo].[programs] TO [ward_programs_role] AS [dbo]
GO
GRANT SELECT ON [dbo].[programs] TO [ward_programs_role] AS [dbo]
GO
GRANT UPDATE ON [dbo].[programs] TO [ward_programs_role] AS [dbo]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_programs_date_status]    Script Date: 4/3/2026 7:38:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_programs_date_status] ON [dbo].[programs]
(
	[program_date] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((0)) FOR [cover_image_bleed]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((1)) FOR [leadership_public]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((1)) FOR [schedules_public]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT (sysutcdatetime()) FOR [last_modified]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((1)) FOR [use_default_leadership]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((1)) FOR [use_default_schedules]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((50)) FOR [cover_image_height_pct]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ('standard') FOR [cover_print_preset]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((9.0)) FOR [cover_print_body_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((11.0)) FOR [cover_print_heading_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ('standard') FOR [meeting_print_preset]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((9.0)) FOR [meeting_print_body_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((11.0)) FOR [meeting_print_heading_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ('standard') FOR [ann_print_preset]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((9.0)) FOR [ann_print_body_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((11.0)) FOR [ann_print_heading_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ('standard') FOR [leader_print_preset]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((9.0)) FOR [leader_print_body_size]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((11.0)) FOR [leader_print_heading_size]
GO
ALTER TABLE [dbo].[programs]  WITH CHECK ADD FOREIGN KEY([cover_image_id])
REFERENCES [dbo].[WardImages] ([id])
GO
ALTER TABLE [dbo].[programs]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[programs]  WITH CHECK ADD  CONSTRAINT [chk_cover_image_source] CHECK  (([cover_image_source]='library' OR [cover_image_source]='blob' OR [cover_image_source]='file' OR [cover_image_source]='url'))
GO
ALTER TABLE [dbo].[programs] CHECK CONSTRAINT [chk_cover_image_source]
GO
ALTER TABLE [dbo].[programs]  WITH CHECK ADD  CONSTRAINT [chk_programs_status] CHECK  (([status]='archived' OR [status]='published' OR [status]='draft'))
GO
ALTER TABLE [dbo].[programs] CHECK CONSTRAINT [chk_programs_status]
GO
