/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateWardImage]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add a new image to the library
CREATE   PROCEDURE [dbo].[usp_CreateWardImage]
  @blob_name    NVARCHAR(500),
  @file_name    NVARCHAR(255),
  @mime_type    NVARCHAR(50),
  @file_size_kb INT,
  @uploaded_by  INT
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.WardImages (blob_name, file_name, mime_type, file_size_kb, uploaded_by)
  VALUES (@blob_name, @file_name, @mime_type, @file_size_kb, @uploaded_by);

  SELECT id, blob_name, file_name, mime_type, file_size_kb, uploaded_at
  FROM   dbo.WardImages
  WHERE  id = SCOPE_IDENTITY();
END;
GO
GRANT EXECUTE ON [dbo].[usp_CreateWardImage] TO [ward_programs_role] AS [dbo]
GO
