USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_RenameProgramTemplate]    Script Date: 4/7/2026 3:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── usp_RenameProgramTemplate ────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[usp_RenameProgramTemplate]
    @id   int,
    @name nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.program_templates
    SET name          = @name,
        last_modified = GETUTCDATE()
    WHERE id = @id;

    IF @@ROWCOUNT = 0
        THROW 50404, 'Template not found.', 1;
END;
GO
GRANT EXECUTE ON [dbo].[usp_RenameProgramTemplate] TO [ward_programs_role] AS [dbo]
GO
