/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUserStatus]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- usp_UpdateUserStatus  (used by PATCH /users/:id/status)
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_UpdateUserStatus]
    @id     INT,
    @status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE users SET
        status     = @status,
        updated_at = SYSUTCDATETIME()
    WHERE id = @id;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('User not found.', 16, 1);
        RETURN;
    END;
END;
GO
GRANT EXECUTE ON [dbo].[usp_UpdateUserStatus] TO [ward_programs_role] AS [dbo]
GO
