/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_PublishProgram]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_PublishProgram]
    @id              INT,
    @conflict_action NVARCHAR(20) = NULL  -- NULL | 'archive_existing' | 'allow'
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM programs WHERE id = @id)
    BEGIN
        RAISERROR('Program not found.', 16, 1); RETURN;
    END;

    -- Only check for conflicts if not explicitly allowing both
    IF @conflict_action <> 'allow' OR @conflict_action IS NULL
    BEGIN
        DECLARE @program_date DATE;
        SELECT @program_date = program_date FROM programs WHERE id = @id;

        IF EXISTS (
            SELECT 1 FROM programs
            WHERE status = 'published'
              AND program_date = @program_date
              AND id <> @id
        )
        AND (@conflict_action IS NULL)
        BEGIN
            -- Return conflict rows
            SELECT 'conflict' AS result, id, program_date
            FROM programs
            WHERE status = 'published'
              AND program_date = @program_date
              AND id <> @id;
            RETURN;
        END;

        -- archive_existing: archive any other published programs for same date
        IF @conflict_action = 'archive_existing'
        BEGIN
            UPDATE programs
            SET status = 'archived', archived_at = SYSUTCDATETIME()
            WHERE status = 'published'
              AND program_date = @program_date
              AND id <> @id;
        END;
    END;

    -- Publish this program
    UPDATE programs
    SET status       = 'published',
        published_at = SYSUTCDATETIME()
    WHERE id = @id;

    SELECT 'success' AS result, @id AS id;
END;
GO
GRANT EXECUTE ON [dbo].[usp_PublishProgram] TO [ward_programs_role] AS [dbo]
GO
