/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1170)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [ward_programs]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteProgram]    Script Date: 4/3/2026 7:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- usp_DeleteProgram
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_DeleteProgram]
    @id     INT,
    @userId INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    -- Guard: cannot delete published
    IF EXISTS (SELECT 1 FROM programs WHERE id = @id AND status = 'published')
    BEGIN
        RAISERROR('Cannot delete a published program. Unpublish or archive it first.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM programs WHERE id = @id)
    BEGIN
        RAISERROR('Program not found.', 16, 1);
        RETURN;
    END;

    -- Audit before delete (FK would prevent after)
    INSERT INTO audit_log (program_id, user_id, action)
    VALUES (@id, @userId, 'delete');

    -- CASCADE handles child rows
    DELETE FROM programs WHERE id = @id;
END;
GO
GRANT EXECUTE ON [dbo].[usp_DeleteProgram] TO [ward_programs_role] AS [dbo]
GO
